{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4 style="position: relative; text-align: center; margin-top: 100px; margin-bottom: 50px;">{% trans 'Create an account' %}</h4>

    <form method="post" style="position: relative; width: 400px; margin: auto">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success" style="margin-bottom: 50px">{% trans 'Create' %}</button>

    </form>

{% endblock %}