{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-md-5">
                <h6>PENDING REQUESTS</h6>
                <hr>
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr class="thead-dark">
                            <th>ID</th>
                            <th>DATE</th>
                            <th>URL</th>
                            <th>STATUS</th>
                        </tr>
                        {% for data in requests %}
                            {% if data.status == 'Pending' %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.date }}</td>
                                    <td>{{ data.url }}</td>
                                    {% if data.status == 'Pending' %}
                                        <td style="color: gold">{{ data.status }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="col-md-7">
                <h6>EXECUTED REQUESTS</h6>
                <hr>
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr class="thead-dark">
                            <th>ID</th>
                            <th>USER</th>
                            <th>URL</th>
                            <th>RESULT</th>
                            <th>STATUS</th>
                        </tr>

                        {% for data in requests %}
                            {% if data.status == 'Completed' %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.user.first_name }} {{ data.user.last_name }}</td>
                                    <td style="position: relative; width: 350px;">{{data.url}}</td>
                                    <td style="position: relative; width: 150px;">{{data.result}}</td>
                                    <td style="color: LimeGreen">{{ data.status }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}

    {% endif %}

{% endblock %}