{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
<!--        <table class="table table-bordered" style="width: 1100px;">-->
<!--            <tr>-->
<!--              <th style="width: 200px;">USER</th>-->
<!--              <th style="width: 300px;">DATE</th>-->
<!--              <th style="width: 800px;">URL</th>-->
<!--              <th style="width: 50px;">STATUS</th>-->
<!--            </tr>-->
<!--            {% for data in requests %}-->
<!--                <tr>-->
<!--                    <th style="font-weight: normal"> {{ data.user }} </th>-->
<!--                    <th style="font-weight: normal"> {{ data.date }} </th>-->
<!--                    <th style="font-weight: normal"> {{ data.url }} </th>-->
<!--                    {% if data.status == 'Pending' %}-->
<!--                        <th style="color: gold"> {{ data.status }} </th>-->
<!--                    {% else %}-->
<!--                        <th style="color: LimeGreen"> {{ data.status }} </th>-->
<!--                    {% endif %}-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--        </table>-->

        <div class="row">
            <div class="col-md-5">
                <h5>PENDING REQUESTS</h5>
                <hr>
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr class="thead-dark">
                            <th>ID</th>
                            <th>DATE</th>
                            <th>URL</th>
                            <th>STATUS</th>
                        </tr>

                        {% for data in requests %}
                            {% if data.status == 'Pending' %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.date }}</td>
                                    <td>{{ data.url }}</td>
                                    {% if data.status == 'Pending' %}
                                        <td style="color: gold">{{ data.status }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </table>
                </div>
            </div>

            <div class="col-md-7">
                <h5>EXECUTED</h5>
                <hr>
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr class="thead-dark">
                            <th>ID</th>
                            <th>USER</th>
                            <th>URL</th>
                            <th>RESULT</th>
                            <th>STATUS</th>
                        </tr>

                        {% for data in requests %}
                            {% if data.status == 'Completed' %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.user }}</td>
                                    <td style="position: relative; width: 500px;">{{data.url}}</td>
                                    <td style="position: relative; width: 150px;">{{data.result}}</td>
                                    <td style="color: LimeGreen">{{ data.status }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}


                    </table>
                </div>
            </div>

        </div>

    {% else %}


    {% endif %}

{% endblock %}