{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

    {% if request.user.is_authenticated %}
            <h4 style="position: relative; text-align: center; margin-top: 100px">{% trans 'Schedule a request' %}</h4>
            <div style="width: 500px; position: relative; justify-content: left; text-align: left; margin: auto; margin-top: 50px">
                <form method="post">
                    {% csrf_token %}
                    <label class="form-label">URL</label>
                    <div class="mb-3">
                        {{ form.url }}
                    </div>
                    <label class="form-label">Date & Time</label>
                    <div class="mb-3">
                        {{ form.date }}
                    </div>
                    <button class="btn btn-success">{% trans 'Create' %}</button>
                </form>
            </div>
    {% else %}

    {% endif %}

{% endblock %}